### Example 5-21

In [1]:
from functools import reduce

def fact(n):
    return reduce(lambda a, b: a*b, range(1, n+1))
fact(5)

120

### Example 5-22

In [2]:
from functools import reduce
from operator import mul

def fact(n):
    return reduce(mul, range(1, n+1))
fact(5)

120

### Example 5-23

In [3]:
metro_data = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333))
]

from operator import itemgetter
for city in sorted(metro_data, key=itemgetter(1)):
    print(city)

('Delhi NCR', 'IN', 21.935, (28.613889, 77.208889))
('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
('Mexico City', 'MX', 20.142, (19.433333, -99.133333))

In [4]:
cc_name = itemgetter(1, 0)
for city in metro_data:
    print(cc_name(city))

('JP', 'Tokyo')
('IN', 'Delhi NCR')
('MX', 'Mexico City')